.input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #333;
  background-color: #fff;
  transition: border-color 0.3s;
}
